// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

h5 {color: #777;}
h6 {color: #bbb;}
.red {color: red;}
.corp_red {color: #fba2a2;}
.gray {color: #777777;}